body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    text-align: left;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}
img {
    -webkit-border-radius: 5px;
}
a:link {
    color: #3498db;
    text-decoration: none;
}
a:visited {
    color: #9b59b6;
}
a:hover {
    color: #2980b9;
    border-bottom: 1px solid #2980b9;
}
h1, h2, h3 {
    font-weight: 100;
}
h4, h5, h6 {
    font-weight: 300;
}
h1 {
    margin-top: 30px;
}
.section {
    padding: 10px;
}
.inner {
    width: 800px;
    margin: 0 auto;
}
#header {
    text-align: center;
}
#introduction {
    background-color: #ecf0f1;
}
#donate {
    border-bottom: 1px solid #dddddd;
}


#footer {
    background-color: #34495e;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}
#footer a {
    color: #3db1ff;
}
#footer a:hover {
}
#footer .bio {
    font-weight: bold;
}
#footer .bio a {
    margin-left: 6px;
}
#nav {
    background-color: #bdc3c7;
}
#nav ul {
    margin: 0;
    padding: 0;
}
#nav li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

.eff-logo-link {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.eff-logo-link img {
    display: auto;
    margin: 30px auto;
}
.eff-logo-link:hover {
    border-bottom: 0;
}

.image-centered {
    display: block;
    margin: 0 auto;
}
.image-bordered {
    border: 1px solid #dddddd;
}
