body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    text-align: left;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}
img {
    //-webkit-border-radius: 5px;
}
a:link {
    color: #3498db;
    text-decoration: none;
}
a:visited {
    color: #9b59b6;
}
a:hover {
    color: #2980b9;
    border-bottom: 1px solid #2980b9;
}
h1, h2, h3 {
    font-weight: 100;
}
h4, h5, h6 {
    font-weight: 300;
}
h1 {
    margin-top: 30px;
    line-height: 48px;
}
h2 {
    //margin-top: 50px;
    border-top: 1px solid #cccccc;
    padding-top: 20px;
}
.section {
    padding: 10px;
}
.inner {
    width: 800px;
    margin: 0 auto;
}
#header {
    text-align: center;
}
#introduction {
    background-color: #ecf0f1;
}
#donate {
    border-bottom: 1px solid #bbbbbb;
}
#hardware {
    border-top: 1px solid #bbbbbb;
}

#licensing {
    background-color: #ecf0f1;
}


#footer {
    background-color: #34495e;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}
#footer a {
    color: #3db1ff;
}
#footer a:hover {
}
#footer .bio {
    width: 360px;
    margin-right: 40px;
    float: left;
}
#footer .bio h3 {
    font-weight: bold;
}
#footer .bio h3 a {
    margin-left: 6px;
}
#nav {
    background-color: #bdc3c7;
}
#nav ul {
    margin: 0;
    padding: 0;
}
#nav li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}


#sponsor {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #bbbbbb;
}

.sparkfun-logo-link {
    display: block;
    text-align: center;
}
.sparkfun-logo-link:hover {
    border-bottom: 0;
}

.eff-logo-link {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.eff-logo-link img {
    display: auto;
    margin: 20px auto;
}
.eff-logo-link:hover {
    border-bottom: 0;
}

.screenshot {
    display: block;
    margin: 40px auto;
    border: 1px solid #aaaaaa;
}

.photo {
    display: block;
    float: left;
}
.photo-block {
    float: none;
}
.photo img {
    display: block;
}
.photo:hover {
    border: 0;
}
.photo-tiny {
    margin-right: 6px;
    margin-bottom: 6px;
}
.photo-tiny img {
    height: 80px;
}
a.photo-bordered, a.photo-tiny {
    border: 1px solid #aaaaaa;
}
a.photo-bordered:hover, a.photo-tiny:hover {
    border: 1px solid #2980b9;
}

.grid {
    *zoom: 1;
}
.grid:before,
.grid:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
}
.grid:after {
    clear: both;
}


#exploded-top {
    position: relative;
}
#exploded-top .overlay {
    position: absolute;
    width: 800px;
    height: 562px;
    background-image: url(../overlays/glass-teardown-exploded-top-overlay.png);

    opacity: 0.0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
#exploded-top:hover .overlay {
    opacity: 1.0;
}

#exploded-isometric {
    position: relative;
}
#exploded-isometric .overlay {
    position: absolute;
    width: 800px;
    height: 533px;
    background-image: url(../overlays/exploded-isometric-overlay.png);

    opacity: 0.0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
#exploded-isometric:hover .overlay {
    opacity: 1.0;
}



@media (max-width: 820px) {
    .inner {
        max-width: 100%;
    }
    img {
        max-width: 100%;
    }
    #footer .bio {
        width: 100%;
    }
    #footer hr {
    }
}
